@use 'variables.scss' as v;
@use 'mixins.scss' as m;
@use 'functions.scss' as f;

.header {
  margin-bottom: f.vw(32);
}

.header__title {
  background-color: rgba(203, 220, 255, 1);
}

.container__title {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: f.vw(24);
  color: rgba(15, 26, 52, 1);
}

.dress {
  width: f.vw(24);
  height: f.vw(24);
}

.like {
  width: f.vw(22);
  height: f.vw(33);
  transform: rotate(-30deg);
}

.header__main {
  display: flex;
  padding: f.vw(20) 0;
  align-items: center;
}

.header__logo {
  width: f.vw(150);
  height: f.vw(22);
  margin-right: f.vw(80);

  img {
    width: 100%;
    height: 100%;
  }
}

.header__form {
  margin-right: f.vw(24);
  display: flex;

  input {
    font-size: f.vw(12);
    line-height: 150%;
    color: #5C5F60;
  }
}

.form__text {
  width: f.vw(639);
  max-width: 639px;
  height: f.vw(40);
  max-height: 40px;
  background-image: url(../images/header/search.svg);
  background-repeat: no-repeat;
  background-size: 3%;
  background-position: left;
  padding: f.vw(10) f.vw(40);
  border: f.vw(1.6) solid #E0E3E3;
  border-radius: f.vw(4);

  @include m.tablet {
    width: f.vw(300);
  }
}

.form__button {
  width: f.vw(129);
  max-width: 129px;
  height: f.vw(38);
  max-height: 38px;
  padding: f.vw(10) f.vw(20);
  background-color: #2D3132;
  border-radius: f.vw(4);
  border: none;
  color: #fff;
  font-size: f.vw(12);
  line-height: 150%;
  margin-inline: f.vw(24);

  &:hover {
    background-color: #5c6364;
  }
}

.dropdown {
  width: f.vw(40);
  height: f.vw(34);
  display: flex;
  justify-content: center;
  align-items: center;

  select {
    font-size: f.vw(12);
    line-height: 150%;
    color: #5C5F60;
    border: none;
    appearance: none;
  }

  &::after {
    width: f.vw(15);
    height: f.vw(15);
    content: '';
    background-image: url(../images/main/s-bottom.svg);
    background-position: center;
    background-size: f.vw(15) f.vw(15);
  }

  & select:focus {
    border: none;
    outline: none;
  }

  & select::-ms-expand {
    display: none;
  }
}

.menu,
.icons {
  display: flex;
  align-items: center;
}

.core,
.message,
.trash {
  width: f.vw(44);
  height: f.vw(44);
  position: relative;

  &::after {
    content: '8';
    display: block;
    width: f.vw(14);
    height: f.vw(14);
    border-radius: 50%;
    background-color: #FF5449;
    font-size: f.vw(12);
    text-align: center;
    position: absolute;
    top: f.vw(2);
    right: f.vw(11);
    border: f.vw(2) solid rgba(0, 0, 0, 0);

  }


  img {
    width: 55%;
  }
}

.core::after,
.trash::after {
  background-color: #EFF1F1;
}

.trash::after,
.message::after {
  content: '3';
}

.message::after {
  color: #fff;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: f.vw(8);
  position: relative;
}

.vector {
  width: f.vw(12);
  height: f.vw(12);
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
  }
}

.nav__list {
  display: flex;
}

.nav__item {
  list-style: none;
  text-transform: uppercase;
  padding: f.vw(16);
  font-weight: 500;
  font-size: f.vw(13);
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.4px;
  color: #444748;

  &:hover {
    border-bottom: f.vw(2) solid #444748;
  }

  &.active {
    border-bottom: f.vw(2) solid #444748;
  }
}