@use 'variables.scss' as v;
@use 'mixins.scss' as m;
@use 'functions.scss' as f;

.main__header {
  height: f.vw(58);
  display: flex;
  align-items: flex-start;

  p,
  span {
    font-size: f.vw(12);
    line-height: 150%;
    color: #2D3132;
  }

  span {
    color: #747778;
  }
}

.main__title {
  height: f.vw(42);
  margin-bottom: f.vw(32);

  h2 {
    font-size: f.vw(28);
    font-weight: 400;
    line-height: 150%;
    color: #2D3132;
  }
}

.main__sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sort__title {
  font-weight: 400;
  font-size: f.vw(22);
  line-height: 150%;
  color: #5C5F60;
}

.sort__list {
  height: f.vw(34);
  display: flex;
  align-items: center;
  gap: f.vw(12);
  margin-bottom: f.vw(24);
  position: relative;


  p {
    font-weight: 400;
    font-size: f.vw(12);
    line-height: 150%;
    color: #5C5F60;
  }

  select {
    width: f.vw(170);
    height: f.vw(34);
    background-color: #EFF1F1;
    padding: f.vw(8) f.vw(21) f.vw(8) f.vw(12);
    border: none;
    border-radius: f.vw(25) f.vw(25) f.vw(25) f.vw(25);
    font-weight: 400;
    font-size: f.vw(12);
    line-height: 150%;
    color: #2D3132;
    appearance: none;
  }

  & select:focus {
    border: none;
    outline: none;
  }

  & select::-ms-expand {
    display: none;
  }

  &::after {
    content: '';
    font-size: f.vw(12);
    display: block;
    width: f.vw(3);
    height: 122%;
    background-color: #fff;
    position: relative;
    top: 0;
    right: f.vw(45);
  }

  &::before {
    width: f.vw(15);
    height: f.vw(15);
    content: '';
    background-image: url(../images/main/s-bottom.svg);
    background-position: center;
    background-size: f.vw(15) f.vw(15);
    position: absolute;
    right: f.vw(25);
  }
}

.main__body,
.wrapper__buttons {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: f.vw(24);
}

.body__products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: f.vw(24);
}

details {
  width: f.vw(312);
  min-height: f.vw(53);
  background-color: #EFF1F1;
  border: 1px solid #EFF1F1;
  position: relative;

  summary {
    display: flex;
    font-weight: 400;
    font-size: f.vw(14);
    line-height: 150%;
    color: #444748;
    margin: f.vw(16) 0 0 f.vw(24);
  }

  &>div {
    margin-top: f.vw(10);
    padding: f.vw(15);
    background-color: #fff;
  }

  form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-content: flex-start;
    gap: f.vw(15);
    background-color: #fff;
  }
}

details summary:after {
  display: block;
  width: f.vw(20);
  height: f.vw(20);
  font-size: f.vw(14);
  content: '';
  background-image: url(../images/main/s-bottom.svg);
  background-position: center;
  background-size: f.vw(20) f.vw(20);
  position: absolute;
  right: f.vw(16);
}

details[open] summary:after {
  content: '';
  background-image: url(../images/main/s-bottom.svg);
  background-position: center;
  background-size: f.vw(20) f.vw(20);
  position: absolute;
  right: f.vw(16);
  top: f.vw(7);
  transform: rotate(-180deg);
}


details:not(:last-child) {
  margin-bottom: f.vw(2);
}

.filters__price {
  display: flex;
  gap: f.vw(24);
  margin-top: f.vw(30);
}

.filters__price__container {
  width: f.vw(120);
  height: f.vw(45);
  border-bottom: f.vw(1) solid #C4C7C7;
  position: relative;
  display: flex;
  align-items: center;
}

.price__range {
  font-weight: 400;
  font-size: f.vw(12);
  line-height: 150%;
  color: #2D3132;
}

.filters__price__text {
  position: absolute;
  top: f.vw(-12);
  left: 0;
  font-weight: 400;
  font-size: f.vw(10);
  line-height: 150%;
  color: #747778;
}

.products__buttons {
  display: flex;
  justify-content: center;
  margin: f.vw(59) 0 f.vw(123) 0;
  gap: f.vw(8);
}